<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head}}

</head>


<body class="sticky-header">
    {{> header}}

    <main class="main-wrapper">
     {{{body}}}

    </main>

   {{> contact }}
   {{> footer}}

   {{> modals}}

   {{> scripts}}
   <a href="https://wa.me/{{getPhone}}" target="_blank">
        <img src="/assets/images/whatsapp.png" id="whatsapp">
   </a>
</body>

</html>