<!doctype html>
<html class="no-js" lang="en">

<head>
    {{> head}}

</head>


<body class="sticky-header">
    {{> header}}

    <main class="main-wrapper">
     {{{body}}}

    </main>

   {{> contact }}
   {{> footer}}

   {{> modals}}

   {{> scripts}}

</body>

</html>